# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Data files
data/jobs.csv
data/resume.pdf
data/results.json

# Keep data folder structure
!data/.gitkeep
!data/skills_list.txt

# Airflow
airflow.db
airflow.cfg
logs/
airflow-webserver.pid
airflow-scheduler.pid
standalone_admin_password.txt

# Environment
.env
.kaggle/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db