name: MLOps Pipeline

on:
  push:
    branches: [ main, lab-1 ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install -r "Lab 1/requirements.txt"

      - name: Train Models
        run: python "Lab 1/src/train.py"

      - name: Evaluate Models
        run: python "Lab 1/src/evaluate.py"
